[submodule "vault-themes"]
	path = vault-themes
	url = https://github.com/p-potvin/vault-themes
[submodule "vaultwares-agentciation"]
	path = vaultwares-agentciation
	url = https://github.com/p-potvin/vaultwares-agentciation
