[submodule "vaultwares-themes"]
	path = vaultwares-themes
	url = https://github.com/p-potvin/vaultwares-themes
[submodule "vaultwares-adk"]
	path = vaultwares_adk
	url = https://github.com/p-potvin/vaultwares-adk
